<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Title</title>
    <link href="../styles/stylesheet.css" rel="stylesheet"/>
</head>

<body>
<h1>
    Här testar vi lite grann bara :)
    <form action="post">
        Skötbord
        <input type="Checkbox" name="Skötbord"/>
        Handikapp
        <input type="Checkbox" name="Handikapp"/>
        Gratis
        <input type="Checkbox" name="Gratis"/>
        Öppen
        <input type="checkbox" name="Öppen"/>
        <br>
        <button type="submit">Hitta Holk</button>
    </form>
</h1>

<ul>
    Alla toaletter
    <li th:each="toilet: ${allToilets}">
        <a th:text="${toilet.address}"/>
    </li>
</ul>
<ul>
    Handikapp
    <li th:each="toilet : ${handicapToilets}">
        <a th:text="${toilet.address}"/>
    </li>
</ul>
<ul>
    Skötbord
    <li th:each="toilet : ${changingTables}">
        <a th:text="${toilet.address}"/>
    </li>
</ul>
<ul>
    Gratisar
    <li th:each="toilet : ${freeToilets}">
        <a th:text="${toilet.address}"/>
    </li>
</ul>
<div id="map" onclick="initMap()"></div>
<script>
    function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
    }
</script>
<script async="defer"
        th:src="@{https://maps.googleapis.com/maps/api/js?key=AIzaSyDP79F7cW3KeKNkxV8hZ2WCQEsXht7zyeo&amp;callback=initMap}">
</script>


</body>
</html>