<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet.css"/>
</head>

<body>

<h1>
    Här testar vi lite grann bara :)
</h1>

<ul>
    Alla toaletter
    <li th:each="toilet: ${allToilets}">
        <a th:text="${toilet.address}"/>
    </li>
</ul>
<ul>
    Handikapp
    <li th:each="toilet : ${handicapToilets}">
        <a th:text="${toilet.address}"/>
    </li>
</ul>
<ul>
    Skötbord
    <li th:each="toilet : ${changingTables}">
        <a th:text="${toilet.address}"/>
    </li>
</ul>
<ul>
    Gratisar
    <li th:each="toilet : ${freeToilets}">
        <a th:text="${toilet.address}"/>
    </li>
</ul>

<div id="map" ONLOAD="initMap()"></div>
<script async="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDP79F7cW3KeKNkxV8hZ2WCQEsXht7zyeo;callback=initMap"></script>

<!--<input type="button" onclick="reloadMap()">-->
<script type="text/javascript" src="/mapBehaviour.js"></script>
</body>
</html>